<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Create\Address\Api\CreateRepositoryInterface" type="Create\Address\Model\CreateRepository"/>
    <preference for="Create\MyAddressmodule1\Api\Data\CreateInterface" type="Create\Address\Model\Create"/>
     <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="address_create_listing_data_source" xsi:type="string">Create\Address\Model\ResourceModel\Create\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Create\Address\Model\ResourceModel\Create\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">addresss</argument>
            <argument name="resourceModel" xsi:type="string">Create\Address\Model\ResourceModel\Create</argument>
        </arguments>
    </virtualType>

     <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_custom_field_to_quote_table" type="Create\Address\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="1" />
    </type>
</config>