.whole{
    background-color: aquamarine;
    box-shadow: 0px 0px 20px #00000020;
    width: 480px;
    height: 500px;
    position: absolute;
    top: 150px; 
    left: 450px;
}
.basic{
    background: linear-gradient(pink,rgb(168, 168, 228));
    width: 400px;
    padding: 20px;  
    /* box-shadow: 0px 0px 20px #00000020;   */
    border-radius: 8px; 
    position:absolute;
    top: 50px; 
    left: 20px;
}
.others{
    background: linear-gradient(pink,rgb(168, 168, 228));
    width: 400px;
    padding: 20px;  
    /* box-shadow: 0px 0px 20px #00000020;   */
    border-radius: 8px; 
    position: absolute;
    top: 50px; 
    left: 20px; 
}
.work{
    background: linear-gradient(pink,rgb(168, 168, 228));
    width: 400px;
    padding: 20px; 
    /* box-shadow: 0px 0px 20px #00000020;   */
    border-radius: 8px;
    position: absolute;
    top: 120px; 
    left: 20px; 
}
.education{
    background: linear-gradient(pink,rgb(168, 168, 228));
    width: 400px;
    padding: 20px; 
    /* box-shadow: 0px 0px 20px #00000020;   */
    border-radius: 8px;
    position: absolute;
    top: 120px; 
    left: 20px;
}
.team{
    background: linear-gradient(pink,rgb(168, 168, 228));
    width: 400px;
    padding: 20px; 
    /* box-shadow: 0px 0px 20px #00000020;   */
    border-radius: 8px;
    position: absolute;
    top: 125px; 
    left: 20px;
}
.elements{
    padding:10px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.element{
    font-family: Rubik, sans-serif; 
    padding: 10px;
    margin-left: 60px;
}
.elements label{
    font-family: Rubik, sans-serif;
    font-size: 18px;
    color: black;
}
.elements input{
    border: 1.5px solid rgba(128, 128, 128, 0.418); 
    padding: 5px;
    border-radius: 4px;
}
.elements select{
    border: 1.5px solid rgba(128, 128, 128, 0.418); 
    padding: 5px;
    border-radius: 4px;
}
.elements textarea{
    border: 1.5px solid rgba(128, 128, 128, 0.418); 
    padding: 3px;
    border-radius: 4px;
}
.btn{
    margin-top: 10px;
    margin-left: 300px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.prevbtn{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.nextbtn{
    margin-top: 10px;
    margin-left: 165px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.subbtn{
    margin-top: 10px;
    margin-left: 155px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
#fnameerr{
    margin-left: 200px;
    text-align: center;
    padding: 2px;
}
#emailerr{
    margin-left: 200px;
    text-align: center;
    padding: 2px;
}
#passerr{
    margin-left: 200px;
    text-align: center;
    padding: 2px;
}
#repasserr{
    margin-left: 200px;
    text-align: center;
    padding: 2px;
}
#phoneerr{
    margin-left: 200px;
    text-align: center;
    padding: 2px;
}
.message{
    background: linear-gradient(pink,rgb(168, 168, 228));
    width: 400px;
    padding: 20px; 
    border-radius: 8px; 
    position: absolute;
    top: 22px; 
    left: 20px;
    text-align: center;
}
h2{
    text-align: center;
    font-style: italic;
}