*{
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    width: 500px;
    margin-left: 400px;  
}
.heading{
    text-align: center;
    background-color: cyan;
    padding: 10px;
}
.form{
    padding: 5px;
    background-color: beige;
}
.elements{
    padding:10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 150px;
    padding: 5px 15px 5px 15px;
    margin-left: 150px;
    font-size: 15px;
    font-weight: bold;    
    background-color: red;
}
