<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
       <add id="Address_CreateMenuBackend::menu"
           title="Address Menu" module="Create_Address"
           sortOrder="10"
           resource="Magento_Backend::content"
           />
        <add id="Address_CreateMenuBackend::menu_item"
           title="Address Items" module="Create_Address"
           sortOrder="10" parent="Address_CreateMenuBackend::menu"
           action="createaddress/create/index"
           resource="Address_CreateMenuBackend::menu_item"
           />
   </menu>
</config>